@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" ng-app="VK">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div ng-controller="Authentication">
        {{ company }}<br />
        {{ product }}<br />
        {{ author }}<br />
        {{ version }}<br />
    </div>
</div>
